* {
    bg-col:  #1E1E2E;
    bg-col-light: #302D41;
    border-col: #302D41;
    selected-col: #302D41;
    blue: #96CDFB;
    fg-col: #D9E0EE;
    fg-col2: #F28FAD;
    grey: #D9E0EE;
    width: 600;
}

