* {
    bg-col:  #1A1B26;
    bg-col-light: #24283B;
    border-col: #24283B;
    selected-col: #24283B;
    blue: #7AA2F7;
    fg-col: #A9B1D6;
    fg-col2: #F7768E;
    grey: #A9B1D6;
    width: 600;
}

