Xft.dpi: 144

URxvt.scrollBar: false
!URxvt.internalBorder: 10
*.internalBorder: 10

!*.font:xft:Hack:style=Regular:size=12:antialias=true
*.font:xft:JetBrainsMono Nerd Font:size=12:antialias=true

*foreground:   #D9E0EE
*background:   #1E1E2E

*color0:       #6E6C7E
*color1:       #F28FAD
*color2:       #ABE9B3
*color3:       #FAE3B0
*color4:       #96CDFB
*color5:       #F5C2E7
*color6:       #89DCEB
*color7:       #C3BAC6

*color8:       #988BA2
*color9:       #F28FAD
*color10:      #ABE9B3
*color11:      #FAE3B0
*color12:      #96CDFB
*color13:      #F5C2E7
*color14:      #89DCEB
*color15:      #D9E0EE
